name: Hello World
on:
    push:
        branches: [ gitactions ]
    workflow_dispatch:
jobs:
    printmessage:
        runs-on: ubuntu-latest
        steps:
        - name: print hello world message
          run: echo Hello, world!
        - name: print current working directory
          run: pwd
        - name: list content of cwd
          run: ls -l
        - name: list parent dirs
          run: ls -l ../; ls -l ../../
