name: Hello World
on:
    push:
        branches: [ gitactions ]
        paths: [ test ]
    workflow_dispatch:
jobs:
    printmessage:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
          with:
            ref: gitactions
        - name: print hello world message
          run: echo Hello, world!!!
        - name: print current working directory
          run: pwd
        - name: cd to test
          run: cd test
        - name: list cwd, parent and test
          run: pwd; ls -l; ls -l ../; ls -l test
